body{
    background-color: beige;
}

@font-face {
    font-family: chalkboard;
    src: url(./ChalkboardSE-Bold.ttf);
}
  
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: 7px 7px 2px #999;
}

.cell:hover{
    background-color: rgb(246, 246, 246);
    transform: translate(-2px, -2px);
}

#gameContainer{
    font-family: cursive, chalkboard;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn {
    padding: 10px;
    width: 130px;
    font-size: 20px;
    font-family: cursive, chalkboard;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 6px #999;
}

#restartBtn:hover{
    background-color: rgba(245, 222, 179, 0.666);
}

#restartBtn:active{
    box-shadow: 0 2px #999;
    transform: translateY(4px);
}

.red-symbol {
    color: red;
    border: 2px solid black;
}

.blue-symbol {
    color: blue;
    border: 2px solid black;
}